.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    /* background-color: brown; */
   
}

table {
   display: flex;
    /* border-collapse: collapse; */
    width: 100%;
   
    

    height: auto; /* Adjusted from 100vh to auto */
    
    overflow-x: auto; /* Added to handle horizontal overflow */
    padding: 20px; 
  
}

th, td {
    font-size: 10px;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    
}

th {
    background-color: #34C3E0;
}
td{
    background-color: white;
    color: black;
}

.edit-button, .add-button{

    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-button{
    background-color: #34C3E0;
}

.add-button{
    background-color: #e0349e;
}



